@import './scss/reset.scss';
@import './scss/fonts.scss';
@import './scss/colors.scss';
@import './scss/layout.scss';
@import './scss/app.scss';
@import './scss/header.scss';
@import './scss/search.scss';
@import './scss/catalog.scss';
@import './scss/album.scss';