// color variables
$white: #FFFFFF;
$ghost: #e0e1e4;
$fog: #c3c3c3;
$concrete: #f8f8f8;
$pigeon-grey: #434445;
$shadow: #aaa;
$black: #000000;
$mine-shaft: #232328;
$emperor: #2A2A2A;
$green: #21955b;
$verdant: #25a565;