@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

// font variables
$Helvetica: 'Helvetica Neue', Helvetica, sans-serif;
$Times: "Times New Roman", Times, serif;
$Ariel: Arial, Helvetica, sans-serif;
